<div id="content" #content> 
  <h1>List Universite</h1>
  <button type="button"  (click)="openAddForm()" >Ajouter une nouvelle universite</button>
  <div *ngIf="shouldOpen">
            
    <app-create-universite [universiteFromParent]="un" (notification)="add2($event)"></app-create-universite>
    </div>
    <h1>Liste des Universites</h1>
  <table class="table">
      <thead>
          <tr>
              <th>id</th>
              <th>Nom Universite</th>
              <th>Adresse</th>
              <th>Description</th>
           
              <th>action</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let u of listUniversite">
              <td>{{u.id}}</td>
              <td>{{u.nomUni }}</td>
              <td> {{u.adresse}}</td>
              <td> {{u.description}}
              </td>
              
              <td>
                  <button class="btn btn-sm btn-danger" (click)="deleteUniv(u.id)" >
                      Supprimer
                  </button>
                  &nbsp;
                  <a class="btn btn-sm btn-warning" (click)="sendTofils(u)">
                      Modifier  
                  </a>
                  &nbsp;
                  
              </td>
          </tr>
      </tbody>
  </table>
  </div>