<h1>{{action}}Equipe</h1>
<form #f="ngForm">
 <div class="form-group col-md-6">
    <label>Name:* </label>
    <input type="text" name="nomUni" [(ngModel)]="Equipe.nomEquipe"
    class="form-control" required minlength="3"
     pattern="[A-Za-z]{3,12}$" #n="ngModel">
    <div class="alert alert-danger" *ngIf="n.invalid && n.touched">
        <div *ngIf="n.hasError('required')">
           Cette champs est obligatoire
          </div>
        <div *ngIf="n.hasError('minlength')">
           la longeur minimal est 3 ! !
        </div>
        <div *ngIf="n.hasError('pattern')">
          erreur de pattern
       </div>
    </div>
 </div>

 <div class="form-group col-md-6">
   <label>Salle </label>
   <input type="text" name="salle" [(ngModel)]="Equipe.detailEquipe.salle"
   class="form-control" 
    pattern="[1-9]{2,6}$" #t="ngModel">
   <div class="alert alert-danger" *ngIf="n.invalid && n.touched">
       <div *ngIf="n.hasError('pattern')">
         erreur de pattern
      </div>
   </div>
</div>
<div class="form-group col-md-6">
   <label>Thematique </label>
   <input type="text" name="thematique" [(ngModel)]="Equipe.detailEquipe.thematique"
   class="form-control" pattern="[A-Za-z]{3,12}$" #m="ngModel">
   <div class="alert alert-danger" *ngIf="n.invalid && n.touched">

       <div *ngIf="n.hasError('pattern')">
         erreur de pattern
      </div>
   </div>
</div>


 

   
  <button (click)="add()"
   class="btn btn-sm btn-success"
   [disabled]="f.invalid" >
    {{action}}
  </button>

</form>
