<h1>{{action}}Universite</h1>
<form #f="ngForm" (ngSubmit)="notifparent(universite)">
 <div class="form-group col-md-6">
    <label>Name:* </label>
    <input type="text" name="nomUni" [(ngModel)]="universite.nomUni"
    class="form-control" required minlength="3"
     pattern="[A-Za-z]{3,12}$" #n="ngModel">
    <div class="alert alert-danger" *ngIf="n.invalid && n.touched">
        <div *ngIf="n.hasError('required')">
           Cette champs est obligatoire
          </div>
        <div *ngIf="n.hasError('minlength')">
           la longeur minimal est 3 ! !
        </div>
        <div *ngIf="n.hasError('pattern')">
          erreur de pattern
       </div>
    </div>
 </div>
 <div class="form-group col-md-6">
    <label>Adresse</label>
    <input type="text" name="adresse"
    [(ngModel)]="universite.adresse"class="form-control"
    required #p="ngModel">
    <div class="alert alert-danger" *ngIf="p.invalid && p.touched">
      Cette champs est obligatoire
    </div>
   <div *ngIf="p.hasError('minlength')">
      la longeur minimal est 3 ! !
   </div>
   <div *ngIf="p.hasError('pattern')">
     erreur de pattern
  </div>
  </div>
  <div class="form-group col-md-6">
    <label>Description</label>
    <input type="text" name="description"
    [(ngModel)]="universite.description"
    class="form-control" required #qt="ngModel">
    <div class="alert alert-danger" *ngIf="qt.invalid && qt.touched">
      Cette champs est obligatoire
    </div>
    <div *ngIf="qt.hasError('minlength')">
      la longeur minimal est 3 ! !
   </div>
   <div *ngIf="qt.hasError('pattern')">
     erreur de pattern
  </div>
  </div>
   
  <button type="submit"
   class="btn btn-sm btn-success"
   [disabled]="f.invalid" >
    {{action}}
  </button>

</form>
