<h1>{{action}}Department</h1>
<form #f="ngForm">
 <div class="form-group col-md-6">
    <label>Name:*</label>
    <input type="text" name="nomDepart" [(ngModel)]="department.nomDepart"
    class="form-control" required minlength="3"
     pattern="[A-Za-z]{3,12}$" #n="ngModel">
    <div class="alert alert-danger" *ngIf="n.invalid && n.touched">
        <div *ngIf="n.hasError('required')">
           Cette champs est obligatoire
          </div>
        <div *ngIf="n.hasError('minlength')">
           la longeur minimal est 3 ! !
        </div>
        <div *ngIf="n.hasError('pattern')">
          erreur de pattern
       </div>
    </div>
 </div>
  <div class="form-group col-md-6">
    <label>Type</label>
    <input type="text" name="type"
    [(ngModel)]="department.type"
    class="form-control" required #qt="ngModel">
    <div class="alert alert-danger" *ngIf="qt.invalid && qt.touched">
      Cette champs est obligatoire
    </div>
    <div *ngIf="qt.hasError('minlength')">
      la longeur minimal est 3 ! !
   </div>
   <div *ngIf="qt.hasError('pattern')">
     erreur de pattern
  </div>
  </div>
  <div class="form-group col-md-6">
   <label>Description</label>
   <input type="textarea" name="description"
   [(ngModel)]="department.description"
   class="form-control" required #bt="ngModel">
   <div class="alert alert-danger" *ngIf="bt.invalid && bt.touched">
     Cette champs est obligatoire
   </div>
   <div *ngIf="bt.hasError('minlength')">
     la longeur minimal est 3 ! !
  </div>
  <div *ngIf="bt.hasError('pattern')">
    erreur de pattern
 </div>
 </div>
 <div class="form-group">
  <label> Universite</label>
  <div class="col-sm-10">

    <select [(ngModel)]="department.universites" name="option" class="form-control" required #b="ngModel">
      <option *ngFor="let uni of listeUni" [ngValue]="uni">{{uni.nomUni}}</option>
    </select>
 </div>
</div>


  <button (click)="add()"
   class="btn btn-sm btn-success"
   [disabled]="f.invalid" >
    {{action}}
  </button>

</form>
